.middle {
  width: 60%;
  border-right: 1px solid gray;
}
.inner-middle {
  margin: 0% 10% 0% 10%;
}
.search-main {
  margin: 5% 0%;
}
.search-icon {
  background-color: #f6f8fa !important;
  border: none !important;
  border-radius: 10px 0px 0px 10px !important;
}
.search-field {
  border: none !important;
  background-color: #f6f8fa !important;
  border-radius: 0px 10px 10px 0px !important;
}
.home {
  margin: 5% 0% !important;
  font-weight: bolder;
}
.image-middle-main {
  position: relative;
  height: 200px !important;
  width: 180px;
}
.image-middle {
  position: relative;
  top: 5% !important;
  width: 100%;
}
.project {
  margin: 0% 8%;
}
.project-heading {
  color: #0e1844;
}
.description {
  margin: 5% 0%;
  color: #9497a9;
}
.checkbox {
  background-color: #f6f8fa;
  padding: 2%;
  margin: 5% 0%;
  border-radius: 10px;
}
.checkbox-main {
  margin: 10% 0%;
}
.recent-heading {
  color: #0e1844 !important;
}
.recent {
  padding: 1%;
  width: 95%;
}
.icon-middle {
  padding: 10%;
  border-radius: 5px;
  margin: 0% 5%;
  background-color: #f6f8fa;
}
.section-main {
  border-radius: 15px;
  padding: 4%;
}
.music {
  background-color: #e6ebf7;
}
.icon-folder {
  color: #c1cce6;
  border-radius: 5px;
}
.icon-type {
  background-color: #f8b09f;
  color: #0f268e;
  border-radius: 5px;
}
.icon-bottom {
  padding: 10%;
}
.file-type {
  color: #8b92a9;
}
.title-middle {
  margin: 0% 5%;
}
